<!doctype html>
<html lang="en-UK">
<head>
    <meta charset="UTF-8">
    <title>Morgan's Entry</title>
    <link rel="stylesheet" href="static/styles.css">
    <script src = "static/script.js"></script>
</head>
<body>
    <header>
        <h1>Morgan's Bluefuse Challenge Entry :D</h1>
        <nav class="buttons">
            <button type="button" onclick="window.location.href = '/fibonacci'">Fibonacci Sequence</button>
            <button type="button" onclick="window.location.href = '/palindrome'">Palindrome Checker</button>
        </nav>
    </header>
    <div id="linebreak"></div>
</body>
</html>